<!DOCTYPE html>
<html lang="en">
    <head>
    
        <meta charset="UTF-8">
        <meta name="viewport" content=
            "width=device-width, initial-scale=1.0">
        <title>Yusuf's Portfolio</title>
        <link rel="icon" href="avatar.ico" type="image/x-icon">
        <link rel="shortcut icon" href="avatar.ico" type="image/x-icon">
    </head>
    
    <body>
        <!--Header-->
        <table id="header" border="0" width="100%"
            cellpadding="0" cellspacing="0" bgcolor="#sky-blue" style="margin-bottom: 10px; border-radius: 5px;">
            <tr>
                <td>
                    <table border="0" cellpadding="15"
                        cellspacing="0" width="90%" align="center">
                        <tr>
                            <td>
                                
    
                            </td>
    
                            <td>
                                <a href="/components/index.html" style="text-decoration: none;">
                                    <font face="Verdana" color="gray" size="5">
                                    Muhammad Mukhtar
                                </font>
                            </td>
    
                            <td width="15%">
                                
                            </td>
    
                            <td>
                                <a href="/components/index.html" style="text-decoration:none">
                                    <font face="Verdana" size="4" color=gray>
                                        Home
                                    </font>
                                </a>
                            </td>
    
                            <td>
                                |
                            </td>
    
                            <td>
                                <a href="/components/education.html" style="text-decoration:none">
                                    <font face="Verdana" size="4" color=gray>
                                        Education
                                    </font>
                                </a>
                            </td>
    
                            <td>
                                |
                            </td>
    
                            <td>
                                <a href="/components/experience.html" style="text-decoration:none">
                                    <font face="Verdana" size="4" color=gray>
                                        Experience
                                    </font>
                                </a>
                            </td>
    
                            <td>
                                |
                            </td>
    
                            <td>
                                <a href="/components/skills.html" style="text-decoration:none">
                                    <font face="Verdana" size="4" color=gray>
                                        Skills
                                    </font>
                                </a>
                            </td>
                            <td>
                                |
                            </td>
                            <td>
                                <a href="/components/projects.html" style="text-decoration:none">
                                    <font face="Verdana" size="4" color=gray>
                                        Projects
                                    </font>
                                </a>
                            </td>
    
                            <td>
                                |
                            </td>
    
                            <td>
                                <a href="/components/contact.html" style="text-decoration:none">
                                    <font face="Verdana" size="4" color=gray>
                                        Contact
                                    </font>
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

    <!--Contact(start)-->
	<table id="contact" border="0" width="100%"
    cellpadding="0" cellspacing="0" bgcolor="gray" style="border-radius: 5px">
    <tr>
        <td>
            <table border="0" cellpadding="15"
                cellspacing="0" width="80%" align="center">
                <tr>
                    <td height="180" align="center"
                        valign="middle" colspan="2">
                        <font face="Verdana" size="7"
                            color="white">
                            Contact
                        </font>
                        <hr color="white" width="90">
                    </td>
                </tr>

                <tr>
                    <td align="center" valign="top">
                        <table border="0" width="50%" cellpadding="15"
                            cellspacing="0" align="center" bgcolor="sky-blue" style="border-radius: 5px;">
                            <tr>
                                <td width="30%">
                                    
                                    <font face="Verdana" size="4"
                                        color="#ffffff">
                                        Name
                                    </font>
                                </td>
                                <td width="70%">
                                    <font face="Verdana" size="4"
                                        color="#ffffff">
                                        <input type="text" size="40" style="border:none; border-radius: 5px; padding: 10px;">
                                    </font>
                                </td>
                            </tr>
                            <tr>
                                <td width="30%">
                                    <font face="Verdana" size="4"
                                        color="#ffffff">
                                        Email
                                    </font>
                                </td>
                                <td width="70%">
                                    <font face="Verdana" size="4"
                                        color="#ffffff">
                                        <input type="email" size="40" style="border:none; border-radius: 5px; padding: 10px;">
                                    </font>
                                </td>
                            </tr>
                            <tr>
                                <td width="30%">
                                    <font face="Verdana" size="4"
                                        color="#ffffff">
                                        Number
                                    </font>
                                </td>
                                <td width="70%">
                                    <font face="Verdana" size="4"
                                        color="#ffffff">
                                        <input type="text" size="40" style="border:none; border-radius: 5px; padding: 10px;">
                                    </font>
                                </td>
                            </tr>
                            <tr>
                                <td width="30%">
                                    <font face="Verdana" size="4"
                                        color="#ffffff">
                                        Message
                                    </font>
                                </td>
                                <td width="70%">
                                    <font face="Verdana" size="4"
                                        color="#ffffff">
                                        <textarea rows="5"
                                            cols="37" style="border:none; border-radius: 5px;">
                                        </textarea>
                                    </font>
                                </td>
                            </tr>
                            <tr>
                                <td width="30%">
                                    
                                </td>
                                <td width="70%">
                                    <button type="Submit" style="border:none; border-radius: 5px; padding: 10px;">
                                        <font face="Verdana"
                                            size="4" color="black">
                                            Submit
                                        </font>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </td>

                </tr>
                <tr>
                    <td colspan="2">
                        
                        
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--Contact(end)-->
<table id="footer" border="0" width="100%"
		cellpadding="0" cellspacing="0" bgcolor="sky-blue" style="margin-bottom: 10px; border-radius:5px;">
		<tr>
			<td>
				<table border="0" cellpadding="15"
					cellspacing="0" width="90%" align="center">
					<tr>
						<td width="13%" valign="top">
							<font face="Verdana">LinkedIn</font>
							<a href="www.linkedin/in/imookhtar" style="text-decoration:none">
								➲
							</a>
						</td>

						<td>
							|
						</td>

						<td width="13%" valign="top">
							<font face="Verdana">GitHub</font>
							<a href="www.github.com/V4vamp" style="text-decoration:none">
								➲
							</a>
						</td>

						<td>
							|
						</td>

						<td width="13%" valign="top">
							<font face="Verdana">HackerRank</font>
							<a href="www.hackerrank.com/yusoofjnr" style="text-decoration:none">
								➲
							</a>
						</td>


						<td>
							|
						</td>

						<td width="13%" valign="top">
							<font face="Verdana">Twitter</font>
							<a href="www.twitter.com/KountDrac" style="text-decoration:none">
								➲
							</a>
						</td>

						<td>
							|
						</td>

						<td width="13%" valign="top">
							<font face="Verdana">Instagram</font>
							<a href="www.instagram.com/tech_ninjie" style="text-decoration:none">
								➲
							</a>
						</td>

						<td>
							|
						</td>

						<td width="13%" valign="top">
							<font face="Verdana">Email</font>
							<a href="mailto:yusoofjnr@gmail.com?" style="text-decoration:none">
								➲
							</a>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<!--Footer1(end)-->


	<!--Footer2(start)-->
	<table id="footer" border="0" width="100%"
		cellpadding="0" cellspacing="0" bgcolor="gray" style="border-radius: 5px;">
		<tr>
			<td>
				<table border="0" cellpadding="15"
					cellspacing="0" width="90%" align="center">
					<tr>
						<td width="80%" valign="top">
							<font face="Verdana"
								color="#fff" size="3">
								©Copyright 2023 Muhammad.
								All rights reserved.
							</font>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

</body>
</html>