<!DOCTYPE html>
<html lang="en">
    <head>
    
        <meta charset="UTF-8">
        <meta name="viewport" content=
            "width=device-width, initial-scale=1.0">
        <title>Yusuf's Portfolio</title>
        <link rel="icon" href="avatar.ico" type="image/x-icon">
        <link rel="shortcut icon" href="avatar.ico" type="image/x-icon">
    </head>
    
    <body>
        <table id="header" border="0" width="100%"
                cellpadding="0" cellspacing="0" bgcolor="#sky-blue" style="margin-bottom: 10px; border-radius: 5px;">
                <tr>
                    <td>
                        <table border="0" cellpadding="15"
                            cellspacing="0" width="90%" align="center">
                            <tr>
                                <td>
                                    
        
                                </td>
        
                                <td>
                                    <font face="Verdana" color="gray" size="5">
                                        Muhammad Mukhtar
                                    </font>
                                </td>
        
                                <td width="15%">
                                    
                                </td>
        
                                <td>
                                    <a href="/components/index.html" style="text-decoration:none">
                                        <font face="Verdana" size="4" color=gray>
                                            Home
                                        </font>
                                    </a>
                                </td>
        
                                <td>
                                    |
                                </td>
        
                                <td>
                                    <a href="/components/education.html" style="text-decoration:none">
                                        <font face="Verdana" size="4" color=gray>
                                            Education
                                        </font>
                                    </a>
                                </td>
        
                                <td>
                                    |
                                </td>
        
                                <td>
                                    <a href="/components/experience.html" style="text-decoration:none">
                                        <font face="Verdana" size="4" color=gray>
                                            Experience
                                        </font>
                                    </a>
                                </td>
        
                                <td>
                                    |
                                </td>
        
                                <td>
                                    <a href="/components/skills.html" style="text-decoration:none">
                                        <font face="Verdana" size="4" color=gray>
                                            Skills
                                        </font>
                                    </a>
                                </td>
                                <td>
                                    |
                                </td>
                                <td>
                                    <a href="/components/projects.html" style="text-decoration:none">
                                        <font face="Verdana" size="4" color=gray>
                                            Projects
                                        </font>
                                    </a>
                                </td>
        
                                <td>
                                    |
                                </td>
        
                                <td>
                                    <a href="/components/contact.html" style="text-decoration:none">
                                        <font face="Verdana" size="4" color=gray>
                                            Contact
                                        </font>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
    
    
            <table id="projects" border="0" width="100%"
            cellpadding="0" cellspacing="0" bgcolor="gray" style="margin-bottom: 10px; border-radius: 5px;">
            <tr>
                <td>
                    <table border="0" cellpadding="15"
                        cellspacing="0" width="80%" align="center">
                        <tr>
                            <td height="180" align="center"
                                valign="middle" colspan="2">
                                <font face="Verdana" size="7"
                                    color="white">
                                    Projects
                                </font>
                                <hr color="white" width="90">
                            </td>
                        </tr>
    
                        <tr>
                            <td height="10">
                                <font face="Verdana"
                                    size="5" color="white">
                                    <ul>
                                        <li>
                                            IMall - Ecommerce WebApp
                                            
                                        </li>
    
                                        <li>
                                            <hr color="#c2c0c3">
                                            MindConnect - Social Community WebApp
                                            
                                        </li>
    
                                        <li>
                                            <hr color="#c2c0c3">
                                            PennyWise - Fintech WebApp
                                            
                                        </li>
    
                                        <li>
                                            <hr color="#c2c0c3">
                                            Age Calculator
                                            
                                        </li>
    
                                        <li>
                                            <hr color="#c2c0c3">
                                            Calculator
                                            
                                        </li>
    
                                        <li>
                                            <hr color="#c2c0c3">
                                            Rock-Paper-Scissors Game
                                            
                                        </li>
    
                                        <li>
                                            <hr color="#c2c0c3">
                                            Emplyoyee Record System
                                            
                                        </li>
    
                                        <li>
                                            <hr color="#c2c0c3">
                                            Guess the Number-Game
                                            
                                        </li>
    
                                        <li>
                                            <hr color="#c2c0c3">
                                            Random Password Generator
                                            
                                        </li>
    
                                        <li>
                                            <hr color="#c2c0c3">
                                            Stone Paper Scissor
                                            
                                        </li>
    
                                        <li>
                                            <hr color="#c2c0c3">
                                            Tic Tac Toe
                                            
                                        </li>
    
                                        <li>
                                            <hr color="#c2c0c3">
                                            Quote Generator
                                            
                                        </li>
    
                                        <li>
                                            <hr color="#c2c0c3">
                                            ToDo App
                                            
                                        </li>
    
                                        <li>
                                            <hr color="#c2c0c3">
                                            Flight Management System
                                            
                                        </li>
                                    </ul>
                                </font>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    
    
        
    
        <!--Footer1(start)-->
        <table id="footer" border="0" width="100%"
            cellpadding="0" cellspacing="0" bgcolor="sky-blue" style="margin-bottom: 10px; border-radius:5px;">
            <tr>
                <td>
                    <table border="0" cellpadding="15"
                        cellspacing="0" width="90%" align="center">
                        <tr>
                            <td width="13%" valign="top">
                                <font face="Verdana">LinkedIn</font>
                                <a href="www.linkedin/in/imookhtar" style="text-decoration:none">
                                    ➲
                                </a>
                            </td>
    
                            <td>
                                |
                            </td>
    
                            <td width="13%" valign="top">
                                <font face="Verdana">GitHub</font>
                                <a href="www.github.com/V4vamp" style="text-decoration:none">
                                    ➲
                                </a>
                            </td>
    
                            <td>
                                |
                            </td>
    
                            <td width="13%" valign="top">
                                <font face="Verdana">HackerRank</font>
                                <a href="www.hackerrank.com/yusoofjnr" style="text-decoration:none">
                                    ➲
                                </a>
                            </td>
    
    
                            <td>
                                |
                            </td>
    
                            <td width="13%" valign="top">
                                <font face="Verdana">Twitter</font>
                                <a href="www.twitter.com/KountDrac" style="text-decoration:none">
                                    ➲
                                </a>
                            </td>
    
                            <td>
                                |
                            </td>
    
                            <td width="13%" valign="top">
                                <font face="Verdana">Instagram</font>
                                <a href="www.instagram.com/tech_ninjie" style="text-decoration:none">
                                    ➲
                                </a>
                            </td>
    
                            <td>
                                |
                            </td>
    
                            <td width="13%" valign="top">
                                <font face="Verdana">Email</font>
                                <a href="mailto:yusoofjnr@gmail.com?" style="text-decoration:none">
                                    ➲
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <!--Footer1(end)-->
    
    
        <!--Footer2(start)-->
        <table id="footer" border="0" width="100%"
            cellpadding="0" cellspacing="0" bgcolor="gray" style="border-radius: 5px;">
            <tr>
                <td>
                    <table border="0" cellpadding="15"
                        cellspacing="0" width="90%" align="center">
                        <tr>
                            <td width="80%" valign="top">
                                <font face="Verdana"
                                    color="#fff" size="3">
                                    ©Copyright 2023 Muhammad.
                                    All rights reserved.
                                </font>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <!--Footer2(end)-->
    
    </body>
</html>